*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.diseases{
    margin: 10% auto;
}

.bgcolor{
    background-color: rgba(159, 255, 159, 0.082);
}

.img-fluid{
    height: 300px;
}